# Ignore Vs code configs
.vscode

# Ignore node modules with all downloaded libraries
node_modules/

# Ignore Package-lock.json
package-lock.json

# Ignore environment data
environment.ts

# Ignore dist build
dist/

# Ignore firebase hosting cache
*.cache