/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-color: #30263d !important;
}
.custom-font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-full-height {
  height: 100vh;
}
// input {
//   font-family: "Roboto" !important;
// }
.custom-ml-5 {
  margin-left: 15rem !important;
}
